@charset "UTF-8";


@font-face {
  font-family: TaipeiSans;
  font-style: normal;
  src: url(./static/font/TaipeiSansTCBeta-Regular.ttf) format("opentype"); 
  /* src: url(./static/font/YakuHanJP-Regular.eot);
  src: url(./static/font/YakuHanJP-Regular.woff2) format("woff2"), url(./static/font/YakuHanJP-Regular.woff) format("woff"); */
} 

body {
  font-family: TaipeiSans;
  margin-top: 20px;
  color: #484848;
  font-size: 100%;
  /* letter-spacing: .05rem; */
  letter-spacing: .1rem;
  line-height:1.2 ;
  background:url(static/img/texture.png) ;
  background-color: #FFFFFB; /*白練: #FCFAF2*/
  -webkit-transition:background-color 2s ease-in;
}

a {
  text-decoration: none;
  color: #373c38; /*藍墨茶: #373c38*/
}

.content-headLine{
  text-align: center;
  font-size: 150%;
  margin-top: 30px;
}


img {
  width: 500px;
  /* float: center; */
  float:center;
  position: relative;
  /* margin-left: 30%; */
  display: block;
  margin: auto;
}



.navbar {
  position: relative;
  display: flex;
  align-items: center;
  /* justify-content: space-evenly; */
  margin: 0 auto
  
  /* background-color:#6c757d; */
}

.navbar-nav {
  display: flex;
  
}
.navbar-brand {
  flex: none;
  font-size: 20px;
  padding: 0px 5;

}
.nav-link {
  display: block;
  padding: .5rem 1rem;
  /* justify-content: space-around; */
  
}
.social-link-box{
  margin-left: 1%;
}

.social-link {
  margin-right: 1rem !important;
  /* background-color:#6c757d; */
  /* justify-content: left !important; */
  margin-left:0
}
.navbar-page{
  justify-content: space-between;
}

.o-nav--snsicon {
  font-size: 1.1rem
}


.clearfix:after{
	content: '';
	display: table;
	clear: both;
}

.logo a{
	float:left;
	width: 50px;
	height: 50px;
	background:#ea7070;
	display: block;
	text-decoration: none;	
	text-indent: 101%;
	overflow: hidden;
	white-space: nowrap;
}
.menu-list{
	float:right;
  list-style: none;
}
.menu-list li{
	float:left;
}
.menu-list a{
	display: block;
	text-decoration: none;
	font-weight: 700;
	color:#ea7070;
	padding:1em;
}
.menu-list a:hover{
	color: #4bc2c5;
}
.showmenu{
	display: none;
	float: right;
	text-decoration: none;
	color:#ea7070;
	font-weight: 600;
	padding:1em;
}
@media(max-width: 768px){
	.menu-list{		
		/*隱藏選單開始*/
		max-height: 0;
		overflow: hidden;
		/*隱藏選單end*/
		position: absolute;/*追隨.header*/
		/*讓選單從左到右延伸start*/
		right: 0;
		left: 0;
		/*讓選單從左到右延伸end*/
		top:67px;
		/*把menu-list位置移到.header下方。點擊menu滑出/因沒設header高度，所以用開發者工具看高多少*/
		z-index:100;
    transition: all 2.5s;
	}
	.menu-list li{
		float:none;
		border-bottom:  1px solid #ea7070 ;
		background:#f5f4e8;
	}
	.showmenu{
		display: block;
	}
	/*jQ點擊後動態在 body 加上 class */ 
	.menu-show .menu-list{
		max-height: 336px; 
	}
}
.content{
	padding: 5% 6%;
}
.content p{
	line-height: 1.8;
	margin-bottom: 1.5em;
}
