@font-face {
    font-family: 'GenYoFontRegular';
    src: url('/static/font/GenYoMin2TW-R-01.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
  }
  @font-face {
    font-family: 'YakuhanJPRegular';
    src: url('/static/font/YakuHanJP-Regular.woff2') format('woff2'),
    url('/static/font/YakuHanJP-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
  }


body {
    font-family: 'GenYoFontRegular', 'YakuhanJPRegular', sans-serif;
    background-image: url('/static/img/texture.png');
}


.main-img {
  width: 80%;
  margin-left: 10%;
}

.introduction{
  width: 80%;
  margin-left: 10%;
}