@font-face {
    font-family: 'GenYoFontRegular';
    src: url('static/font/GenKiMin2-R.ttc') format('truetype-collection');
    font-weight: normal;
    font-style: normal;
  }


body {
    font-family: 'GenYoFontRegular', sans-serif;
}